
#popcontent{
    margin:15px auto;
    text-align:center;
    position:relative;
    height:100%;
	overflow:hidden;
	margin-top:30px;
}
#popwrapper{
   width:1000px;
    overflow:hidden;
	margin-left:-15px;
	height:500px;
}
#steps{
    width:1002px;
	/*height:320px;
    overflow:hidden;*/
}
.step{
    float:left;
    width:1002px;
	/*height:320px;*/
}
.toplink{
	margin-top:5px;

	}

#navigation{

    border-top:1px solid #fff;
	width:750px;
	margin:0px auto;	
}
#navigation ul{
    list-style:none;
	float:left;
	/* margin-left:5px;*/
}
#navigation ul li{
	float:left;
/*    border-right:1px solid #ccc;
    border-left:1px solid #ccc;*/
    position:relative;
	margin:23px 20px 0px;
	/*width:105px;*/
}
#navigation ul li a{
/*    display:block;
    height:45px;
    background-color:#444;*/
	background:url(../images/bullet.png) no-repeat;
    color:#777;
    outline:none;
    font-weight:bold;
    text-decoration:none;
    line-height:45px;
    padding:30px 0px;
    /*border-right:1px solid #fff;
    border-left:1px solid #fff;
    background:#f0f0f0;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(240,240,240)),
        color-stop(0.55, rgb(227,227,227)),
        color-stop(0.78, rgb(240,240,240))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 9%,
        rgb(227,227,227) 55%,
        rgb(240,240,240) 78%*/
        )
}
#navigation ul li a:hover,
#navigation ul li.selected a{
   /* background:#d8d8d8;*/
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

#navigation ul li a span {
	margin:0px auto;
	
	}

span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:-15px;
    left:0px;
    width:26px;
    height:27px;
}
span.error{
/*    background:transparent url(../images/error.png) no-repeat top left;*/
    position:absolute;
    top:-15px;
    left:16px;
    width:26px;
    height:27px;
}
.MTabbedPanelsContent {
    border:none;
    padding-bottom:20px;
}
.MTabbedPanelsContent h2{
	color: #666666;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px 15px 0px;
    padding: 0 0 10px 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 990px;
}
.MTabbedPanelsContent p{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:300px;
    padding:5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}
.MTabbedPanelsContent p label{
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
.MTabbedPanelsContent input:not([type=radio]),
.MTabbedPanelsContent textarea,
.MTabbedPanelsContent select{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
   height:24px;
}
.MTabbedPanelsContent input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}
.MTabbedPanelsContent p.submit{
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
	margin:0px auto;
	
}
.popleftcon .but, .poprightcon .but, .popfullcon .but 
 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #123d54;
	padding: 10px 20px;
	background:#e8f5ff;
	background: -moz-linear-gradient(
		top,
		#e8f5ff 0%,
		#12acff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#e8f5ff),
		to(#12acff));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #b7b8b6;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
		width:170px;
}

.MTabbedPanelsContent but:hover {
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

 span.reference{
            position:fixed;
            left:5px;
            top:5px;
            font-size:10px;
            text-shadow:1px 1px 1px #fff;
        }
        span.reference a{
            color:#555;
            text-decoration:none;
			text-transform:uppercase;
        }
        span.reference a:hover{
            color:#000;
            
        }
        h1{
            color:#ccc;
            font-size:36px;
            text-shadow:1px 1px 1px #fff;
            padding:20px;
        }
		
	
.popleftcon {
    float: left;
    margin: 0px 50px;
    width: 400px;
	text-align:left;
}		

.popleftcon1 {
    float: left;
    margin: 0px 50px;
    width: 600px;
		text-align:left;
}		


.poprightcon {
    float: right;
   margin: 0px 50px;
    width: 400px;
		text-align:left;
}	

.popfullcon {
   margin: 0px auto;
    width: 930px;
		text-align:left;

}	

.popleftcon  p, .poprightcon  p, .popfullcon p {
	   width: 320px !important;
	   	text-align:left;
		  background-color: #F4F4F4;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #AAAAAA;
    clear: both;
    float: left;
    margin: 10px 0;
    padding: 10px;
	}
	
.popleftcon  textarea, .poprightcon  textarea{
	   width:320px;
	   	text-align:left;
	}


.popfullcon  p {
	   width: 520px !important;
	   	text-align:left;
	}
	
.popfullcon  textarea {
	   width: 500px !important;
	   	text-align:left;
	}
.prev, next {
	margin:30px;
	}	
.prev a{
	border-radius:7px;
	color:#333;
	 /* Safari 4-5, Chrome 1-9 */ 
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#999)); 
	 /* Safari 5.1, Chrome 10+ */ 
	 background: -webkit-linear-gradient(top, #efefef, #999); 
	 /* Firefox 3.6+ */ 
	 background: -moz-linear-gradient(top, #efefef, #999); 
	 /* IE 10 */ 
	 background: -ms-linear-gradient(top, #efefef, #999); 
	 /* Opera 11.10+ */ 
	 background: -o-linear-gradient(top, #efefef, #999);
	padding:5px 15px 7px 15px;
	text-decoration:none;
	box-shadow:1px 1px 2px #efefef;
	float:left;
	margin-left:40px;
	}

.next a{
	float:right;
	margin-right:40px;
	border-radius:7px;
	color:#333;
	 /* Safari 4-5, Chrome 1-9 */ 
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#999)); 
	 /* Safari 5.1, Chrome 10+ */ 
	 background: -webkit-linear-gradient(top, #efefef, #999); 
	 /* Firefox 3.6+ */ 
	 background: -moz-linear-gradient(top, #efefef, #999); 
	 /* IE 10 */ 
	 background: -ms-linear-gradient(top, #efefef, #999); 
	 /* Opera 11.10+ */ 
	 background: -o-linear-gradient(top, #efefef, #999);
	padding:5px 15px 7px 15px;
	text-decoration:none;
	box-shadow:1px 1px 2px #efefef;
	}

.clear{
	clear:both;
	}
.MTabbedPanelsContent .steptitle {
    border-bottom: 1px solid #D4D4D4;
    border-width: 2px 1px 1px;
    color: #000000;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 23px;
    height: 25px;
    margin: 45px auto 20px 15px;
    padding: 2px 0;
    position: relative;
}


.button-neutral {
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
	margin:0px auto;
    color: white;
    position: relative;
	padding: 15px 40px;
    background-image: -moz-linear-gradient(top, #e40000, #bc0000);
	border-radius:5px;
}

.button-neutral a{
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
	margin:10px 0px auto;
    background-image: -moz-linear-gradient(top, #e40000, #bc0000);
    color: white;
    position: relative;
	padding: 10px 20px;

}


.button-neutral a:hover{
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
	margin:10px 0px auto;
    background-image: -moz-linear-gradient(top, #bc0000, #e40000);
    color: yellow;
    position: relative;
	padding: 10px 20px;

}
		
