       #{extends 'main.html'/} 
    <div style="height: 35px;">
        &nbsp;</div>
    <div id="mainbox">
        <div style="border: 3px solid #c1c1c1; margin-top: 32px; width: 655px; margin-left: 150px;">
        </div>
        <div id="MTabbedPanels1" class="MTabbedPanels">
            <ul id="ctl00_ContentPlaceHolder1_ulTabs" class="MTabbedPanelsTabGroup projectabbg"><li class='MTabbedPanelsTab MTabbedPanelsTabVisited' id='tabBasicDetails' tabindex='0' runat='server'><a href='#'><span>Basic Details</span></a></li><li class='MTabbedPanelsTab MTabbedPanelsTabVisited' id='tabGetStarted' tabindex='1' runat='server'><a href='#'><span>GetStarted</span></a></li><li class='MTabbedPanelsTab' id='tabAddMedia' tabindex='0' runat='server'><a href='#'><span>Add Media </span></a></li><li class='MTabbedPanelsTab' id='tabAboutYou' runat='server' tabindex='0'><a href='#'><span>About You </span></a></li><li class='MTabbedPanelsTab' tabindex='0' id='tabDescribe' runat='server'><a href='#'><span>Describe</span></a></li><li class='MTabbedPanelsTab' tabindex='0' id='tabExtras' runat='server'><a href='#'><span>Extras</span></a></li><li class='MTabbedPanelsTab' tabindex='0' id='tabConfirm' runat='server'><a href='#'><span>Confirm </span></a></li></ul>
            <div class="MTabbedPanelsContentGroup">
		<form action="@{Application.addUser()}" method="GET">		
                <div id="ctl00_ContentPlaceHolder1_tpcAboutYou" class="MTabbedPanelsContent">
                    <div class="steptitle clearfix">
                        About You</div>
                    <div class="popfullcon" style="margin-left:175px;">
                        <div>
                            <p>
                                <label for="tagname">
                                    Here are some of my hobbies and interests:</label>
                                
                                <textarea name="hobbies" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txthobbies" placeholder="Enter Your Hobbies (required)" style="font-style:italic;"></textarea>
                                <span id="ctl00_ContentPlaceHolder1_rfvHobbies" style="color:Red;visibility:hidden;">Enter hobbies and interests</span>
                            </p>
                            <p>
                                <label for="tagname">
                                    My academic interests include:</label>
                                <textarea name="academic" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtAcademicInterests" placeholder="Enter Your Academic Interests (required)" style="font-style:italic;"></textarea>
                                <span id="ctl00_ContentPlaceHolder1_rfvAcademicInterests" style="color:Red;visibility:hidden;">Enter Academic Interests</span>
                            </p>
                            <p>
                                <label for="tagname">
                                    Colleges I am interested in:</label>
                                <input name="college" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtCollegeInterest" placeholder="Enter the College You're interested in (required)" style="font-style:italic;"></textarea>
                            </p>
                            <p>
                                <label for="tagname">
                                    My expected graduation date:</label>
<input name="id" type="text" value=${s.id}   style="font-style:italic;" />

                                <input name="ctl00$ContentPlaceHolder1$txtgraduationdate" type="text" id="ctl00_ContentPlaceHolder1_txtgraduationdate" placeholder="Enter Your Graduation Date (required)" style="font-style:italic;" />
                                <img id="ctl00_ContentPlaceHolder1_Image1" src="Images/calendar.gif" style="border-width:0px;" />
                                <span id="ctl00_ContentPlaceHolder1_rfvdate" style="color:Red;visibility:hidden;">Select graduation date</span>
                              
                                
                            </p>
                            <p>
                                <label for="tagname">
                                    My Favorite Celebrity Role Model</label>
                                <textarea name="ctl00$ContentPlaceHolder1$txtFavCelebrity" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtFavCelebrity" placeholder="Enter Your Favourite Celebrity (required)" style="font-style:italic;"></textarea>
                                My favorite celebrity role model - Choose someone here that you can contact to help you support your profile.  For the test you can choose any celebrity.
								<br /><br />
                                <b>Search for a Celebrity:</b><br />
                                <br />
                                <a href="http://coolspotters.com/celebrities" onclick="return popitup('http://coolspotters.com/celebrities')"
                                    style="background: #ffcc32; border-radius: 8px; padding: 8px 12px;">Coolspotter</a>
                                <span id="ctl00_ContentPlaceHolder1_rfvFavCelebrity" style="color:Red;visibility:hidden;">Enter Your Favorite Celebrity </span>
                            </p>
                            <p>
                                <label for="tagname">
                                    My Chosen Nonprofit Social Connections
                                </label>
                                <textarea name="nonprofit" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtNonProfit" placeholder="Enter Your Chosen NonProfit (required)" style="font-style:italic;"></textarea>
                        My chosen Nonprofit - The Beta test group can select from the BOY AND GIRLS CLUB OF AMERICA and THE FEEDING AMERICA  organizations to support.  This is for the Beta test only
<br /><br />
                                <b>Search for a charity:</b><br />
                                <br />
                                <a href="http://www.looktothestars.org/" onclick="return popitup('http://www.looktothestars.org/')"
                                    style="background: #ffcc32; border-radius: 8px; padding: 8px 12px;">Looktostars</a>
                                
                                <a href="http://www.charitynavigator.org/index.cfm?bay=topten.detail&listid=22" onclick="return popitup('http://www.charitynavigator.org/index.cfm?bay=topten.detail&listid=22')"
                                    style="background: #ffcc32; border-radius: 8px; padding: 8px 12px;">CharityNavigator</a>
                                <span id="ctl00_ContentPlaceHolder1_rfvNonProfit" style="color:Red;visibility:hidden;">Enter Non Profit</span>
                            </p>
                            <div class="clear">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$btnAboutYou" value="Save &amp; Continue" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$btnAboutYou&quot;, &quot;&quot;, true, &quot;VGAboutYou&quot;, &quot;&quot;, false, false))" id="ctl00_ContentPlaceHolder1_btnAboutYou" class="button-neutral" style="background: #E40000; border-radius: 8px;
                                    padding: 12px 12px 30px 12px;" />
                                
                            </div>
                        </div>
                    </div>
                </div>
		</form>
