#{extends 'main.html' /}
   

        

<div class="InnerPageHeader">

        <div class="Mian">

             <h1 class="InnerpageHead">

      About US</h1>

        </div>

    </div>

     <!--- InnerContent--->

    <div class="InnerContent">

        <!--- GO PYT 101 --->

        <div class="Mian">

            <h2 style="color: #4F4F4F;">

             About US

            </h2>

            <div>

       

                <p class="DataInnerDivContact">

                    The GOPYT team was founded by Stacie Whisonant and Rawle Farley in January 2013 as a means to combat the 

                    increasingly prominent issue of student loan debt. Here at GOPYT, we believe that the problem can be tackled with

                    crowd funding efforts. GOPYT seeks to engage the students by providing a competitive crowd funding platform with all

                    the necessary resources to be successful in helping to fund higher education. GOPYT also believes that the platform is

                    a great way for students to be able to work in their community and to say thank you to their sponsors by giving back 

                    their time and skills.

                </p>

                <p class="DataInnerDivContact" style="color: #54BFFE;">

                    Both Stacie and Rawle have firsthand experience of the need to fund education with financial help and alternative sources.  

                    Stacie was a resident assistant in college and served in the US military while she completed her undergraduate degree at 

                    Longwood University.

                </p>

                <p class="DataInnerDivContact">

                    We have worked closely with high school and college students as well as with an experienced team of advisors to develop a 

                    platform that everyone can enjoy.

                </p>

                <p class="DataInnerDivContact">

                    Moving forwards, we will also be providing awards and scholarships through this platform. In this way, we’re hoping to broaden

                    the opportunities for funding available to students beyond crowd funding.  It is our hope to gather the support of businesses,

                    lawmakers and local communities, in order to come together and help create the opportunity for the younger generation to get 

                    to grips with the worrying economic situation of education debt.

                    We are very much open to inquiries, concerns and suggestions that you feel that can help make us great.



                </p>

                <p class="DataInnerDivContact">

                    We are located outside of the Greater Washington DC area but the company is able to reach out and help students throughout the US.

                </p>

            </div>

        </div>

    </div>






 
