#{extends 'main.html' /}

        

<div class="InnerPageHeader">

        <div class="Mian">

             <h1 class="InnerpageHead">

        Contact Us</h1>

        </div>

    </div>

  <!--- InnerContent--->

    <div class="InnerContent">

        <!--- GO PYT 101 --->

        <div class="Mian">



        <div id="ctl00_ContentPlaceHolder1_MainPanel">

	

            <h2 style="color: #4F4F4F;">

                Get In Touch

            </h2>

            <div class="controldiv">

                <label class="lable">

                    Name

                </label>

                <input name="ctl00$ContentPlaceHolder1$txtName" type="text" id="ctl00_ContentPlaceHolder1_txtName" class="textbox" />

                <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator1" class="errorMessage" style="color:Red;visibility:hidden;">Enter the Name</span>

            </div>

            <div class="controldiv">

                <label class="lable">

                    Email

                </label>

                <input name="ctl00$ContentPlaceHolder1$txtEmail" type="text" id="ctl00_ContentPlaceHolder1_txtEmail" class="textbox" />

                  <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator2" class="errorMessage" style="color:Red;visibility:hidden;">Enter Email Id</span>

            </div>

            <div class="controldiv">

                <label class="lable">

                    Contact Number

                </label>

                <input name="ctl00$ContentPlaceHolder1$txtContactNumber" type="text" id="ctl00_ContentPlaceHolder1_txtContactNumber" class="textbox" />

                <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator3" class="errorMessage" style="color:Red;visibility:hidden;">Enter Contact Number</span>

            </div>

            <div class="controldiv">

                <label class="lable">

                    Message

                </label>

                <textarea name="ctl00$ContentPlaceHolder1$txtMessage" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtMessage" class="textbox" style="height:115px;"></textarea>

                <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator4" class="errorMessage" style="color:Red;visibility:hidden;">Enter the message</span>

            </div>

            <div class="controldiv">

                <label class="lable">

                </label>

                <input type="submit" name="ctl00$ContentPlaceHolder1$Button1" value="Send ▶" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$Button1&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="ctl00_ContentPlaceHolder1_Button1" class="ContactButton" />

            </div>

            

</div>

            

        </div>

    </div>



