#{extends 'main.html' /}
    <div class="InnerPageHeader">

        <div class="Mian">

            <h1 class="InnerpageHead">

                Faqs</h1>

        </div>

    </div>

    <!--- InnerContent--->

    <div class="InnerContent">

        <!--- GO PYT 101 --->

        <div class="Mian">

            <h2 style="color: #4F4F4F;">

                GO PYT 101

            </h2>

            <!-- accordion  -->

            <div class="accordion">

                <ul id="accordionnew">

                    <li><a href="JavaScript:;" class="expanded WhiteClass">WHAT IS GOPYT ( GO PAY YOUR TUITION ) ??</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        GO Pay Your Tuition is a funding tool for college tuition. We help students raise

                                        money via small monthly donations for most types of schools, including universities,

                                        junior and community colleges and technical and professional schools. The twist

                                        is that, with GOPYT, the students have an opportunity to earn more for their higher

                                        education fund by taking part in our monthly contests.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">HOW DOES GO PYT WORK?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Students or their parents create an Education Fund. They calculate their funding

                                        goal and invite family and friends to contribute small monthly amounts until the

                                        student graduates from college or their chosen educational institution. There is

                                        a chance to earn extra rewards via GOPYT for being the highest monthly earner in

                                        your group.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed WhiteClass">WHY ARE CONTRIBUTIONS MADE MONTHLY?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Monthly contributions are a core part of GOPYT and it has a number of advantages:

                                        <br />

                                        • It is affordable for supporters. The small monthly contributions have a huge

                                        impact over time for students.

                                        <br />

                                        • It provides a consistent stream of tuition money for the student. Students can

                                        focus on their school work rather than stressing about how they are going to pay

                                        for each semester.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">WHY DO PEOPLE MAKE CONTRIBUTIONS TO EDUCATIONS FUNDS?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        A lot of donors are family and friends of the student who want to show their support.

                                        Many are alumni of the school that the student is attending who want to support

                                        someone who is taking the same route that they did. Many are just inspired by the

                                        students’ goals and ambitions. By giving up additional time to your community and

                                        local service projects, you have a chance to gain additional support from the patrons

                                        of that organization who could help you to reach your tuition goals.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed WhiteClass">WHERE DO SUPPORTERS COME FROM?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        In most cases, the majority of funding initially comes from family and friends of

                                        the student. When they make their contribution, they can spread the word to their

                                        relatives and friends, and so on. Social networks like Twitter, Facebook, and email

                                        are a vital aid in spreading the word about your cause. A supporter can be anyone

                                        that views your profile and wants to help. The student should always campaign and

                                        find creative ways to gain new and continuous support.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed">WHICH FEE GO TOWARDS GOPYT?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        GOPYT asks for a 5% fee on funds collected each month from the total raised to cover

                                        all costs associated with processing the credit card payments from PayPal and the

                                        transfer payments to the school of your choice. There are NO additional fees other

                                        than the 5% processing fee that the student or supporters will be charged.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed WhiteClass">WHO IS GOPYT?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        We are a group of professionals and students that have collaborated to try and be

                                        creative with funding education. We are based outside of the Washington DC area.

                                        We passionately believe that together we can fight the rising total of US student

                                        loan debt through this funding portal. We know that everyone can pitch in to makes

                                        dreams come true and we are working hard each day to spread the word about this

                                        new resource. We are always working to make the site better and more resourceful

                                        to the user. We welcome suggestions, comments or questions, so please don’t hesitate

                                        to get in touch with us via the site.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>

        </div>

    </div>

    <!--/GO PYT 101-->

    <div class="InnerContent">

        <div class="Mian">

            <h2 style="color: #4F4F4F;">

                Creating an Student Profile

            </h2>

            <div class="accordion">

                <ul id="accordionnew">

                    <li><a href="JavaScript:;" class="collapsed ">HOW DO I CREATE AN EDUCATION FUND?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Click the "Students Start Here" button on any of GOPYT pages. This will take you

                                        through the process of creating an Education Fund. Here, you’ll find all the resources

                                        you need to create an awesome Education Fund to help you maximize contributions.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">WHO IS ELIGIBLE TO CREATE AN EDUCATION FUND?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        High School and college/technical school students can create an Education Fund for

                                        themselves. Parents are also able to set up a profile for their sons/daughters,

                                        but the real competition for monthly bonuses is amongst the students.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">WHAT TYPE OF SCHOOLS CAN BE FUNDED?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Education Funds can be created for most higher education institutions, including:

                                        • 4-year universities • Junior colleges • Community colleges • Technical/Professional

                                        schools (cosmetology, art, culinary, etc.). If you are unsure whether your school

                                        qualifies, for one of our Education Funds, please contact us.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">CAN STUDENTS CREATE AN EDUCATION FUND BEFORE THEY REACH HIGH SCHOOL?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Unfortunately, GOPYT does not currently allow students under the age of 16 to set

                                        up profiles or funds. We will continue to expand our services with additional developments.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">CAN AN EDUCATION FUND BE CREATED FOR A STUDENT UNDER 18?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Yes, if the student has permission from their parent or guardian and is over 16

                                        years of age.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">WHAT ARE SOME THINGS I SHOULD DO BEFORE LAUNCHING MY PROJECT?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        You should:<br />

                                        • Use the GOPYT resource center as a guide in your campaign. The resource center

                                        is filled with ways and tips to help you manage a successful campaign.<br />

                                        • Write down your goals and ambitions on your page. This will inspire supporters

                                        to contribute to your Education Fund.<br />

                                        • Make a list of all the people who care about you: your parents, grandparents,

                                        aunts, uncles, cousins, family friends, neighbors, parents, co-workers, etc. You

                                        could potentially ask all these people for donations.<br />

                                        • Have a plan for spreading the word about your Education Fund (social media, local

                                        journalism and local businesses are all great ways to let people know about your

                                        cause, hell, get on the national news if you can!).<br />

                                        • Update your profile with any accomplishments and service placements that you’ve

                                        achieved. This may encourage sponsors to continue to support your cause.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">WHAT INFORMATION DO I SHARE ON MY STUDENT PROFILE PAGE?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        When you create your Education Fund we will walk you through each of the following

                                        sections:<br />

                                        • Education Fund title<br />

                                        • Brief description<br />

                                        • My Story<br />

                                        • Future goals and ambitions<br />

                                        • Activities and hobbies<br />

                                        • Honors and Achievements<br />

                                        • Service projects

                                        <br />

                                        • How you plan to repay the community and your supporters<br />

                                        • Any additional information that will keep your supporters engaged in your journey.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">IS A VIDEO REQUIRED TO LAUNCH MY PAGE? HOW DO I MAKE A GOOD VIDEO?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Videos are not required, but in general student profiles with a video get more supporters

                                        and higher monthly contribution amounts. So we highly recommend that you include

                                        one! Visit our resource page on “how to create an awesome student profile” for tips

                                        on making a great video.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">HOW DO I THANK MY SUPPORTERS?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        You will be able to see everyone who has contributed to your Education Fund under

                                        the "Supporters" tab in your profile. Next to each supporter will be a "Thank You"

                                        button that will allow you to send an email to them, letting them know how much

                                        you appreciate their donation. You will also be able to repay your local sponsors

                                        by taking up an active role in your community. Also, keeping your profile up to

                                        date is a great way of letting your supporters know that you are doing your part

                                        to give back to society as a thank you for the support that they have given you.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">CAN EDUCATION FUNDS RAISE MORE MONEY THAN THEIR GOAL?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Yes. Supporters can continue to contribute to a student as long as they have an

                                        active profile.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">CAN AN EDUCATION FUND BE CANCELED?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Yes. The creator of the profile has the option to cancel funding at any time. When

                                        funding is cancelled, all contributions that have not yet been transferred to the

                                        student’s school of choice are immediately returned to the sponsors minus the transaction

                                        fees or sent to the community organization that the student wishes to support.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">DO I HAVE TO CHOOSE A MAJOR/PROGRAM?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        You should state the major or study course that you intend to pursue on your profile

                                        so that supporters can understand your ambitions.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">CAN I CREATE MORE THAN ONE EDUCATION FUND AT ONCE?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        No. Only one student profile per student is allowed .

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">HOW LONG DOES MY EDUCATION FUND REMAIN ACTIVE?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Your Education Fund remains active until you graduate from your higher education

                                        program or until you cancel and delete your profile

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">DOES MY GOPYT EDUCATION FUND AFFECT MY FINANCIAL AID?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        No. GOPYT Education Funds are not taken into consideration for your financial aid

                                        and not reported to any financial aid office.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>

        </div>

        <!--/accordion-->

    </div>

    <div class="InnerContent">

        <div class="Mian">

            <h2 style="color: #4F4F4F;">

                Contest Details

            </h2>

            <div class="accordion">

                <ul id="accordionnew">

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">HOW CAN I EARN ADDITIONAL MONEY AND PRIZES?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        GO PYT groups students into pools based on the school that they currently attend.

                                        At the beginning of each new month, every student begins on a level pegging; that

                                        is to say, that their records for each month start again zero. As funds come in,

                                        the person in the group that has the most money is ranked in order by highest dollar

                                        in that month. As students begin to receive donations during that month, the rankings

                                        will change. Those who earn the most donations over the course of the month will

                                        rise to the top and at the end of the month the student with the highest amount

                                        earned will win the additional rewards.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">HOW ARE THESE EXTRA INCENTIVES DETERMINED?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Each student contributes 5% of their earnings from the previous month as an entry

                                        into the bonus pool. This pool is a ranking system that measures how much each student

                                        has raised in the current month. It is updated live throughout the month so that

                                        you and your supporters can view the bonus pool and the rankings in real time. In

                                        this way, you’ll constantly be aware of how much is at stake and how much you’ll

                                        have to raise to win the pool. For example, if a student group raises $50,000 in

                                        May, then the total amount available to be won in the bonus pool in June would be

                                        equal to $2500.00 (5% of $50,000). That’s a hell of a lot of money going towards

                                        your college education, and all it takes is just one big push to win the monthly

                                        jackpot. The contest resets month after month to give everyone a chance to win.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">HOW ARE THE EXTRA INCENTIVES DETERMINED?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        At GOPYT, we try to keep the stakes high by displaying your current rank in the

                                        pools, as well as how much you’ll need to raise to get to the number one spot. This

                                        will drive your supporters to help you earn even more additional funds to finance

                                        your education. On our platform, we have a feature that allows each sponsor to see

                                        exactly the amount required to take a student to the number one spot in his/her

                                        pool for that month.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="InnerContent">

        <div class="Mian">

            <h2 style="color: #4F4F4F;">

                After Creating a Profile

            </h2>

            <div class="accordion">

                <ul id="accordionnew">

                    <li><a href="JavaScript:;" class="collapsed">WHAT ARE UPDATES?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Students use Updates to keep their supporters informed of any exciting news that

                                        they may have. A new job, an achievement, good grades, community service, etc all

                                        serve as updates. Some students post weekly, others post less frequently, but it

                                        is the best way to keep supporters informed of your progress and informed supporters

                                        are more likely to keep contributing.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">CAN A PROJECT BE EDITED AFTER LAUNCHING?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        You can edit the following content after launching:<br />

                                        • Campaign title

                                        <br />

                                        • Profile Image<br />

                                        • YouTube Video<br />

                                        • Short Description<br />

                                        • Email<br />

                                        • Address<br />

                                        • Facebook/Twitter<br />

                                        • School info<br />

                                        • My Story<br />

                                        • Career and Life Goals<br />

                                        • Hobbies and Activities<br />

                                        • Awards and Achievements

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">AM I REQUIRED TO DO COMMUNITY SERVICE?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Yes, we at GOPYT believe that it is important to give something back to those who

                                        have supported you. As a student there is not much to give other than your time.

                                        For every $1000 dollars you raise, you will be required to complete 1 hour of service

                                        to your organization of choice. You can use your profile to update the service placements

                                        that you’ve been allocated. Not to mention the fact that serving your local community

                                        and charities is a great opportunity to bring in new supporters to your fund.</br>

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">HOW DOES A PROJECT BECOME A FEATURED EDUCATION FUND?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        We at GOPYT will spend part of our time reviewing new student profiles. When someone’s

                                        profile stands out as particularly compelling – whether it is because of a really

                                        fun video, a great story, or just a great profile – we feature this page on the

                                        site.

                                        <br />

                                        We add to our featured profiles section throughout the day and throughout the lifetime

                                        of a project. The best way to get on the homepage is to have a great profile and

                                        also shoot us an email with any great updates!

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">WHAT IF I HAVE MONEY LEFT OVER AFTER I GRADUATE?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        If you have student loans, we can send a payment on your behalf straight to the

                                        financial institution that provides your loan(s). If you do not have student loans,

                                        we will release the money to you or your organization of choice as a donation. Please

                                        contact us if you have graduated and would like a payment made towards your student

                                        loans or community organization.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="InnerContent">

        <div class="Mian">

            <h2 style="color: #4F4F4F;">

                Payments

            </h2>

            <div class="accordion">

                <ul id="accordionnew">

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">HOW DO I REQUEST MY MONEY TO BE SEND TO MY SCHOOL?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Inside the student’s profile there is a "Request a Payout" tab. The student can

                                        select how much of the available funds they want sent to their school. This will

                                        not work if the student has not entered their school account information.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">IS THERE A LIMIT TO THE NUMBER OF REQUESTS A STUDENT CAN HAVE?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        No. We understand that every school has different terms, so a student can request

                                        funds whenever they need them.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">WHAT HAPPENS IF A SUPPORTERS CREDIT CARD IS DECLINED? </a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        If a credit card is declined, an email is sent to the supporter every 48 hours with

                                        a link to help them fix the issue. The donor has thirty days to correct the problem.

                                        If they do not correct the payment information during that thirty-day period, they

                                        are dropped as a supporter from the Education Fund.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">WHY DO YOU NEED A STUDENTS SCHOOL ID NUMBER?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        When we send money to a school we include the students name and their ID number

                                        to ensure that the funds are going to the appropriate student.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">HOW DO YOU VERIFY YOUR STUDENT ID NUMBER?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Students can verify their student ID number by getting in contact with their schools

                                        administrative office.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">WILL THERE BE TAX IMPLICATIONS FOR FUNDS RAISED IN AN EDUCATION FUND? </a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        GOPYT is not authorized to give tax or legal advice; beneficiaries should always

                                        consult a tax accountant or attorney if they have any questions regarding the implications

                                        of the contributions collected by GOPYT. Funds raised are treated as gifts, and

                                        do not count as taxable income. If an individual contribution is higher than the

                                        annual gift tax amount, approximately $13,000, the donor may be subject to tax liability;

                                        please refer to the Internal Revenue Service for information about Gift Taxes.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="InnerContent">

        <div class="Mian">

            <h2 style="color: #4F4F4F;">

                Troubleshooting

            </h2>

            <div class="accordion">

                <ul id="accordionnew">

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">WHY WOULD AN EDUCATION FUND BE SUSPENDED?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        An Education Fund may be suspended if it:<br />

                                        • Violates or acts inconsistently with GOPYT’s Terms & Conditions.<br />

                                        • Makes unverifiable claims.<br />

                                        • Exhibits actions that are more closely associated with fraudulent or high-risk

                                        activity.<br />

                                        • Act in any fraudulent or misrepresented manner

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">WHAT HAPPENS WHEN AN EDUCATION FUND IS SUSPENDED? </a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Funding for the Education Fund stops and all contributions are paused until further

                                        investigation can be carried out. Both the Education Fund creator and supporters

                                        are notified via email. Funds are subject to be returned to the supporters or released

                                        to the student’s elected community organization.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">IS A SUSPENSION REVERSIBLE? </a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Yes. If we find that the student profile did not violate any of the above terms

                                        then it will be reactivated. The student and supporters will again be notified by

                                        email.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="InnerContent">

        <div class="Mian">

            <h2 style="color: #4F4F4F;">

                Questions that a supporter may have

            </h2>

            <div class="accordion">

                <ul id="accordionnew">

                    <li><a href="JavaScript:;" class="collapsed">HOW DO I MAKE A CONTRIBUTION?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        To contribute to an Education Fund, just click the orange “Contribute” button on

                                        any Education Fund page. You will be asked to select your contribution amount. From

                                        there, you will go through the PayPal checkout process. Note that you must finish

                                        the PayPal checkout process for your contribution to be recorded.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">WHEN IS MY CARD CHARGED?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Your card will be charged immediately once you have completed the PayPal payment

                                        process.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">IS MY CONTRIBUTION AMOUNT PUBLICLY DISPLAYED?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        As a supporter you are able to choose if you would like to have your contribution

                                        displayed on the student’s profile.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">CAN I REMAIN ANONYMOUS?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Yes. You can remain anonymous. Just tick the "I would like to make my contribution

                                        to remain anonymous" box when you are going through the PayPal payment process.

                                        If you would like to receive updates and thank you notes from the students you support

                                        we recommend that you don’t select the “remain anonymous” option.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">IF I MAKE A CONTRIBUTION, WHAT INFO DOES THE STUDENT RECEIVE?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        The student will see the information you provided when checking out - email address,

                                        name, monthly contribution amount, and any comments you may have left.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">CAN CONTRIBUTIONS BE MADE MONTHLY? </a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        You may choose to make a repeated monthly donation to a fund, the advantages of

                                        which are:<br />

                                        • It may be more economically viable for supporters to contribute small monthly

                                        amounts, rather than large sums.<br />

                                        • It provides a consistent stream of tuition money for the student. This allows

                                        the student to focus more on their school work, rather than stressing out about

                                        how they are going to fund next month’s tuition.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">HOW DO I KNOW THAT CONTRIBUTIONS ARE BEING USED FOR TUITION? </a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        When a student requests a withdrawal we send the money directly to their schools

                                        bursary or financial aid office, to guarantee that the funds are being used for

                                        tuition. We never send the money directly to the student.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">HOW DO I KNOW THE STUDENT IS WHO THEY CLAIM THEY ARE? </a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        In most cases, you will know the student. Also, we ask for the student’s ID number

                                        at their educational institution in order to verify that they are in fact studying

                                        at that school.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">CAN PEOPLE FROM OUTSIDE THE US CONTRIBUTE TO EDUCATION FUNDS? </a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Yes! Anyone, anywhere (with a major credit card) can contribute to an Education

                                        Fund.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">IS MY CONTRIBUTION TAX DEDUCTIBLE?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        No. Contributions made to a student are not tax-deductible because they are not

                                        going directly to a registered 501(c) 3 non-profit organization with a government-issued

                                        EIN tax ID number.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">GO PYT IS NOT A 529 PLAN?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        GO PYT is not a 529 College Savings Plan, so there are no investment opportunities

                                        or tax benefits.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">CAN I PAY WITH A CHECK? CAN I SEND CASH IN DIRECTLY BY MAIL?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Yes, GOPYT is currently setting up payment options that will allow you to mail your

                                        payments to us.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed">HOW CAN I CHANGE THE EMAIL ADDRESS ASSOCIATED WITH MY ACCOUNT?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        Please contact us to verify the email address you want replaced and the new email

                                        address you would like to have registered. We will get in contact with you to verify

                                        the change.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li style="display: block;"><a href="JavaScript:;" class="collapsed WhiteClass">HOW DO I UNSUBSCRIBE FROM OR FILTER THE EMAILS I RECEIVE?</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        There is an unsubscribe button at the bottom of the emails you receive from GOPYT.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>

        </div>

    </div>

    <!--- /InnerContent --->


