#{extends 'main.html' /}

        

    <div class="InnerPageHeader">

        <div class="Mian">

            <h1 class="InnerpageHead">

                How we work</h1>

        </div>

    </div>

    <!--- InnerContent--->

    <div class="InnerContent">

        <div class="Mian">

              <div class="HowweworkImage">

                <img src="@{'/public/images/howwework.jpg'}" /></div>

                <div></div>

                 <div style=" margin-left:3px;">

         <div  class="howvideos"><br />

                                <iframe src="http://player.vimeo.com/video/61684805" width="100%" height="347" frameborder="0"

                                    webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

                            </div>



         <div class="howvideos"><br />

                                <iframe src="http://player.vimeo.com/video/61991177" width="100%" height="347" frameborder="0"

                                    webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

                            </div>

        

        </div><br />

            <!-- accordion  -->

            <div class="accordion">

                <ul id="accordionnew">

                    <li><a href="JavaScript:;" title="" class="expanded WhiteClass"><strong>Step one:</strong> Build a profile and share with everyone </a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        With GOPYT (‘GO Pay Your Tuition’), current students are able to sign up and build

                                        a profile with pictures, videos and messages reaching out to friends and family

                                        all over the world to come and help contribute to their higher education goals.

                                        GOPYT has all the resources for you to network the people you need. You as a student

                                        will select your current high school or college when you build your profile. This

                                        way GOPYT is able to track your progress in terms of the total amount you raise

                                        and rank your success. This will allow you to earn additional prizes and cash for

                                        your goals. This means, if you work hard and raise money, you will earn additional

                                        rewards that will go towards your pool of tuition funds.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed"><strong>Step Two: </strong>Work hard and build supporters</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        As a student you should work hard to remind supporters to send your profile to additional

                                        friends and family and let them know that you have a chance to earn more than just

                                        what you personally collect. You will need to update your profile, and even reach

                                        out to organizations and your community to rally support to help fund your education.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed WhiteClass"><strong>Step Three:</strong> Raise the most money and win the race</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        So for example, if all the students at your school have a profile, GOPYT groups

                                        all of these students into one pool. The student at the end of the month with the

                                        most money earned in that month will win a pool of cash and prizes. Because hey,

                                        we all know how students love a little competition, right? The current pot that’s

                                        available to be won will be updated in real time so you’ll always know what is at

                                        stake. Also, your friends and family will be able to follow your progress each month

                                        and help keep you in that number one spot. It is also up to you to reach out and

                                        keep people updated on your monthly ranking. At the end of the month if you’ve raised

                                        the most money, YOU WIN that months prize (it’s that simple).

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed"><strong>Step Four :</strong> Say thank you by helping your community</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv">

                                        As a great big thank you to everyone who’s helped you along the way, for every thousand

                                        dollars that you raise, you can show your gratitude by committing to helping your

                                        local community or non-profit organization as a way to give back to everyone that

                                        is supporting your journey. This will be a great way to get and keep support from

                                        people that can see you giving up your time to help fund your education and be a

                                        leader in the civilian community. So for example, let’s say one of our students

                                        is passionate about the "Stand up for Cancer Society" and their family supports

                                        this organization. If they then raise $20,000 total through GOPYT, they could then

                                        repay the local community that has supported them by helping to work with the "Stand

                                        up for Cancer Society" or other service projects. One cool twist about this feature

                                        is that we push for you to help coordinate and support big and local celebrities’

                                        organizations to gain a larger support network. Mariah Carey and Alicia Keys were

                                        recently spotted supporting "Stand Up for Cancer". By supporting organizations such

                                        as this, students also get the chance to widen their network of supporters. Who

                                        knows, one day you might just be lucky enough to have Alicia or Mariah helping to

                                        fund your college education!

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed WhiteClass"><strong>Step Five:</strong> Fund your education and graduate</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        By using our platforms and with GOPYT’s help, students can actively overcome their

                                        financial burdens and fully fund their higher education. This will allow you to

                                        walk out of school on graduation day not only with a degree, but also with massively

                                        reduced debts and, perhaps most importantly, with the knowledge that you’ve achieved

                                        it all by giving back to your community and helping others. Then of course there’s

                                        the added bonus that you can use GOPYT's platform to fund your education quicker

                                        with the chance to win monthly incentives. There’s only really one question left

                                        to ask: “Where do I sign up?”

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>

            <!--/accordion-->

        </div>

    </div>

    <!--- /InnerContent --->

