#{extends 'main.html' /}
	   <!--- BannerContainer --->
		<div class="BannerContainer">
        <div id="slideshow" style="z-index: -1;">
            <!-- start Basic Jquery Slider -->
            <ul class="bjqs">
                <li>
                    <img src="@{'/public/images/bannerimage1.jpg'}" title=""></li>
                <li>
                    <img src="@{'/public/images/bannerimage2.jpg'}" title=""></li>
            </ul>
            <!-- end Basic jQuery Slider -->
        </div>
			<div class="Mian" style="z-index:100;">
				<div class="BannerPlayLeft"  style="z-index:100;">
					<span style="float: left; margin-top: 8px;">Students go pay your tution</span>
					<span style="float: left; margin-left: 5px;"><img class="go_arrow" src="@{'/public/images/go_left.png'}" /></span>
					<span style="float: left; margin-left: 5px;">
						<a href="#popup_content" id="popcon"><img src="@{'/public/images/play_icon.png'}" alt="" /></a>
						<a href="#" class="overlay" id="popup_content" onclick="pauseAllVideos(); return false;"></a>
						<div class="popup">
							<p>
								<iframe src="http://player.vimeo.com/video/61684805" width="465" height="345" frameborder="0"
									webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</p>
							<a class="close" href="#close" onclick="pauseAllVideos(); return false;"></a>
						</div>
					</span>
				</div>
				<div class="BannerPlayRight"  style="z-index:100;">
					<span style="float: right; margin-top: 8px;">Supporter join the mission</span>
					<span style="float: right; margin-right: 5px;"><img class="go_arrow" src="@{'/public/images/go_right.png'}"/></span>
					<span style="float: right; margin-right: 5px;">
						<a href="#popup_content1" id="join_pop"><img src="@{'/public/images/play_icon.png'}" /></a>
						<a href="#" class="overlay" id="popup_content1" onclick="pauseAllVideos(); return false;"></a>
						<div class="popup">
							<p>
								<iframe src="http://player.vimeo.com/video/61991177" width="465" height="345" frameborder="0"
									webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</p>
							<a class="close" href="#close" onclick="pauseAllVideos(); return false;"></a>
						</div>
					</span>
				</div>
			</div>
		</div>
	   <!--- /BannerContainer--->
	   
	   <!--- FudingBlock --->
		<div class="FudingBlock">
			<div class="Mian">
				<div class="CommunityText"><img src="@{'/public/images/communitytext.png'}"  /></div>

				<div class="CommunitySearchBlock">
					<span style="float:left; width:18px;"><input type="image" name="ctl00$ContentPlaceHolder1$imgbtnSearch" id="ctl00_ContentPlaceHolder1_imgbtnSearch" src="@{'public/images/search_btm.jpg'}" style="border-width:0px;" /></span>
					<span style="float:right">
						<select name="ctl00$ContentPlaceHolder1$ddlSchoolNames" id="ctl00_ContentPlaceHolder1_ddlSchoolNames" class="CommunityListFiled">
							<option value=" 0">Supporters Start Here</option>
							#{if query}
								#{list items:query, as:'project'}
							<option value=${project.title}><a href='/project?id=${project.id}'>${project.title}</a></option>
								#{/list}
							#{/if}
						</select>
					</span>
				</div>
			</div>
		</div>
	   <!--- /FudingBlock  --->
	   <!--- SpotLightBlock --->
		<div class="Mian">
			<!--- SpotLighMenu --->
			<div id="ctl00_ContentPlaceHolder1_divSchoolsList" class="SpotLighMenu">
					#{if query}
						#{list items:query, as:'project'}
					<ul><li><a href='/project?id=${project.id}'>${project.title}</a></li></ul>
						#{/list}
					#{/if}
			</div>

			<!--- /SpotLighMenu --->


			<!--- SpotLightRight --->
			<div class="SpotLightRight">
				<h1 class="SpotLightHead">SPOTLIGHT</h1>

				<div id="ctl00_ContentPlaceHolder1_divSpotlight" class="SpotLightBlock">
				#{if sponsor}
				<div class='SpotLightImage'><img src="@{'/public/images/spotlight_lockdoor.png'}"  /></div>

					<div class='SpotLightBlog'><h2 class='SpotLightSubHead'>Sponser</h2><p class='SpotBlogText'>The first sponsorship by a local business in Maryland is for 500.00.  This will be awarded by ALL DOOR SOLUTIONS of Maryland. The company will be monitoring the site and selecting a student based on the efforts of campaigningand updating your profile.<br /> <br /> Also the company will review profiles and see how what your plans as a student are to give back to the community.Make sure to monitor and keep your profile up to date for a chance to earn an additional 500.00
						<div style='float:left; width:100%; margin-top:15px;'>
							<div class='Percentage'><span class='PercentageBar'></span></div>
							<div class='PercentageText'>0 Raised | 1997 Day(s) Left</div>
						</div>
					</div>
				</div>
				#{/if}
				#{else}
				<div class='SpotLightBlog'><img src="@{'/public/images/spotlight_lockdoor.png'}"  align='left' /><h2 class='SpotLightSubHead'>Sponsors</h2><br><p class='SpotBlogText'>GOPYT is matching the student that raises $500 first with an additional $500 prize this month. &nbsp;Be the first to get to $500 and you will have $1000.00 on the same day!!!!</p></div></div>

				#{/else}
			</div>
			<!--- /SpotLightRight --->


			<!--- NewWeekBlock --->
			<div class="NewWeekBlock">
				<h1 class="SpotLightHead">New This Week</h1>
				<div id="ctl00_ContentPlaceHolder1_divNewThisWeek" class="NewsWeekDataBlock">
					<div class='NewsSetBlock'>
						<div class='ProfileImage'>
							<a href=projectDetails.aspx?pid=41><img src="@{'/public/images/Thumb_Img/TAqua_52_41.jpg'}" width='174' height='115'  alt=''></img></a>
							<div class='ProfileInfo'>
								<strong><a href=projectDetails.aspx?pid=41>AspiringSuccess</a></strong><br /><span style='font-size:11px;'>by TAqua</span>
							</div>
						</div>
						<div class='ProfilePercent'><div class='Percentage'><span class='PercentageBar' style='width: 0%;'></span></div>
							<div class='PercentageText'>0.00 Raised |3988 Day(s) Left </div>
						</div>
					</div>
					<div class='NewsSetBlock'>
							<div class='ProfileImage'>
								<a href=projectDetails.aspx?pid=30><img src="@{'/public/images/Thumb_Img/Elizabeth_36_30.jpg'}" width='174' height='115'  alt=''></img></a>
								<div class='ProfileInfo'>
									<strong><a href=projectDetails.aspx?pid=30>Moving Forward </a></strong><br /><span style='font-size:11px;'>by Elizabeth</span>
								</div>
							</div>
						<div class='ProfilePercent'>
							<div class='Percentage'>
								<span class='PercentageBar' style='width: 0%;'></span>
							</div>
							<div class='PercentageText'>0.00 Raised |3967 Day(s) Left </div>
						</div>
					</div>
					<div class='NewsSetBlock'>
						<div class='ProfileImage'><a href=projectDetails.aspx?pid=22><img src="@{'/public/images/Thumb_Img/Stacie_28_22.jpg'}" width='174' height='115'  alt=''></img></a>
							<div class='ProfileInfo'>
								<strong><a href=projectDetails.aspx?pid=22>LONGWOOD FUND </a></strong><br />
								<span style='font-size:11px;'>by Stacie</span>
							</div>
						</div>
						<div class='ProfilePercent'>
							<div class='Percentage'>
								<span class='PercentageBar' style='width: 0%;'></span>
							</div>
							<div class='PercentageText'>0.00 Raised |3961 Day(s) Left </div>
						</div>
					</div>
					<div class='NewsSetBlock'>
						<div class='ProfileImage'><a href=projectDetails.aspx?pid=42><img src="@{'public/images/Thumb_Img/Aaliyah_53_42.JPG'}" width='174' height='115'  alt=''></img></a>
							<div class='ProfileInfo'>
								<strong><a href=projectDetails.aspx?pid=42>Path To Success</a></strong><br /><span style='font-size:11px;'>by Aaliyah</span>
							</div>
						</div>
						<div class='ProfilePercent'>
							<div class='Percentage'>
								<span class='PercentageBar' style='width: 0%;'></span>
							</div>
							<div class='PercentageText'>0.00 Raised |3988 Day(s) Left </div>
						</div>
					</div>
					<div class='NewsSetBlock'>
						<div class='ProfileImage'>
							<a href=projectDetails.aspx?pid=20><img src="@{'/public/images/Thumb_Img/MCKEEVER_22_20.jpg'}" width='174' height='115'  alt=''></img></a>
							<div class='ProfileInfo'>
								<strong><a href=projectDetails.aspx?pid=20>Successful </a></strong><br />
								<span style='font-size:11px;'>by Test</span>
							</div>
						</div>
						<div class='ProfilePercent'>
							<div class='Percentage'><span class='PercentageBar' style='width: 0%;'></span></div><div class='PercentageText'>0.00 Raised |3960 Day(s) Left </div>
						</div>
					</div>
					<div class='NewsSetBlock'>
						<div class='ProfileImage'>
							<a href=projectDetails.aspx?pid=32><img src="@{'public/images/Thumb_Img/Michael_41_32.jpeg'}" width='174' height='115'  alt='' /></a>
							<div class='ProfileInfo'><strong><a href=projectDetails.aspx?pid=32>A Debt Free Pathway to Su</a></strong><br /><span style='font-size:11px;'>by Michael</span>
							</div>
						</div>
						<div class='ProfilePercent'>
							<div class='Percentage'>
								<span class='PercentageBar' style='width: 0%;'></span>
							</div>
							<div class='PercentageText'>0.00 Raised |3980 Day(s) Left </div>
						</div>
					</div>
					#{if students}
						#{list items:students, as:'student'}
					<div class='NewsSetBlock'>
						<div class='ProfileImage'>
							#{if student.picURL1}
							<a href='/student?id=${student.id}'><img src=${student.picURL1} width='100%' height='100%'  alt=''></img></a>
							#{/if}
							#{else}
							<a href='/student?id=${student.id}'><img src="@{'public/images/Thumb_Img/Dexter_54_43.jpg'}" width='174' height='174'  alt=''></img></a>
							#{/else}
							<div class='ProfileInfo'>
								<strong><a href='/student?id=${student.id}'>${student.title}</a></strong><br /><span style='font-size:11px;'>by ${student.firstName} ${student.lastName}</span>
							</div>
						</div>
						<div class='ProfilePercent'>
							<div class='Percentage'>
								<span class='PercentageBar' style='width: 0%;'></span>
							</div>
							<div class='PercentageText'>0.00 Raised |3988 Day(s) Left </div>
						</div>
					</div>
						#{/list}
					#{/if}
					<div class='NewsSetBlock'>
						<div class='ProfileImage'>
							<a href=projectDetails.aspx?pid=43><img src="@{'public/images/Thumb_Img/Dexter_54_43.jpg'}" width='174' height='115'  alt=''></img></a>
							<div class='ProfileInfo'>
								<strong><a href=projectDetails.aspx?pid=43>test</a></strong><br /><span style='font-size:11px;'>by Dexter</span>
							</div>
						</div>
						<div class='ProfilePercent'>
							<div class='Percentage'>
								<span class='PercentageBar' style='width: 0%;'></span>
							</div>
							<div class='PercentageText'>0.00 Raised |3988 Day(s) Left </div>
						</div>
					</div>
				</div>
			</div>
			<!--- /NewWeekBlock --->
		</div>
		<!--- /SpotLightBlock --->
<p><?php echo "It works!"; ?></p>

 
    <script>
        jQuery(document).ready(function ($) {

            $('#banner-slide').bjqs({
                animtype: 'slide',
                height: 409,
                width: 1366,
                responsive: true,
                randomstart: true
            });

        });
    </script>

