#{extends 'main.html' /}
    <div class="InnerPageHeader">

        <div class="Mian">

            <h1 class="InnerpageHead">

                GOPYT School for Success</h1>

        </div>

    </div>

    <!--- InnerContent--->

    <div class="InnerContent">

        <div class="Mian">

            <!-- accordion  -->

            <div class="accordionnewp">

                <ul id="accordionnewpage">

                    <li><a href="JavaScript:;" class="expanded WhiteClass">DETERMINE YOUR TUITION GOAL</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        When setting a goal for your tuition payments, it is important to set a target that

                                        is realistic and that does not scare off your future supporters. It will be hard

                                        to determine all of your tuition needs at the time of signing up, but a good estimate

                                        can be found by looking at the average fees of the school you are looking to attend

                                        or the average current tuition costs (for those who aren’t yet sure of their choice

                                        of college). In your profile you can describe some of the needs and costs associated

                                        with your dream school and give any additional cost information that you have researched

                                        or have confirmed with your chosen school. If you don’t know yet exactly what the

                                        costs for your tuition will be then shoot for a smaller goal that is more attainable

                                        to help jumpstart your higher education finances.

                                        <br />

                                        <br />

                                        This goal can be used to finance any sort of education. The funds you raise could

                                        go towards paying for the fees of a higher education institution, a trade or technical

                                        school, any private or public school or towards paying for instructional classes.

                                        This site is for any educational costs. Here are some additional links on tuition

                                        costs and average school fees. Take a few minutes to confirm your tuition goals

                                        using the examples provided to help you:

                                        <br />

                                        <br />

                                        <b>Example 1:</b> It’s important to set your sights high when drawing up your tuition goals;

                                        don’t be afraid to push for the top. Set a big goal overall, but break it down into

                                        smaller, more manageable sums.<br />

                                        <br />

                                        Let’s say for example that your tuition goal is $30,000 that will go towards paying

                                        your college fees.<br />

                                        <br />

                                        $30,000 divided by 4 years of college = $7500 per year<br />

                                        $7500 per year divided by 12 months = $625 per month

                                        <br />

                                        <br />

                                        $625 per month divided by 30 days = a daily goal of $21<br />

                                        <br />

                                        By creating smaller milestones like daily or monthly goals, you’ll make your target

                                        seem a lot more achievable, and you’ll be more able to canvas support from locals.

                                        If $21 a day is all you need, then that’s just $1 a day from 21 different sources!<br />

                                        <br />

                                        <b>Example 2:</b> Alternatively, you could break it down like this.<br />

                                        <br />

                                        $30,000 over 4 years broken down into 48 months = $625 a month<br />

                                        If you can get 10 people to donate 62 dollars a month every month then you’ll already

                                        have hit your goal, not to mention the fact that the extra rewards offered by GOPYT

                                        will make it even easier for you to reach your monthly targets.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed">CREATING A GREAT PROFILE</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_newB">

                                        Be as clear and well defined as possible. The more information you provide about

                                        your cause and your requirements, the more your supporters will be able to help

                                        you reach your goal. Try and get as much of your passion and desire to achieve your

                                        goal down on your page as possible; the more detailed you are about your needs and

                                        ambitions, the more your desire will show through. You have to make your pitch as

                                        strong as it can be. Be sure to ask your supporters to spread to word about your

                                        situation so that they can help you win additional funding for college as well as

                                        obtain higher education.

                                        <br />

                                        <br />

                                        Be as transparent and realistic in your profile as you can. Here are a few examples

                                        and resources to profiles that have a great pitch to supporters:

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed WhiteClass">PICK A SERVICE PROJECT</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Use the following resources to check out organizations that your favorite celebrity

                                        may support. This could be a great way to get the attention of both celebrities

                                        and the media and have them help promote your goal. This will get everyone excited

                                        about helping you. See which organizations your favorite celebrity supports and

                                        find out where you can give a helping hand:<br />

                                        <br />

                                        http://coolspotters.com/organizations/nonprofits

                                        <br />

                                        <br />

                                        http://www.looktothestars.org/

                                        <br />

                                        <br />

                                        http://www.charitynavigator.org/index.cfm?bay=topten.detail&listid=22

                                        <br />

                                        <br />

                                        You may also want to pick an organization that your family supports. For example

                                        if your family are strong supporters of organizations that finance research into

                                        cures for cancer, you may want to choose to help organizations associated with cancer

                                        cures. This will be a great way to let people know that you will be helping out

                                        in any way possible to support family and friends with issues that are important

                                        to them. Also, by getting involved with the organization itself, you may be able

                                        to gain additional sponsors. Be creative and get involved in local community organizations

                                        to help gain extra support. Now, in this time of economic distress the old saying,

                                        “every little helps” is more relevant than ever, which is why it’s so important

                                        that you use the contacts you make at your service placements to boost the support

                                        for your cause and go that extra mile towards reaching your goal.<br />

                                        <br />

                                        Making contact with large networks of people is so important in achieving your tuition

                                        goals. for this reason, you might want to choose to help out local organizations

                                        with big connections. The more people that read your message, the more sponsors

                                        you're likely to get, so don't be afraid to really try and make your voice heard.

                                        Target organizations with lots of contacts, like local charities for example, and

                                        make sure you introduce yourself to as many people as possible while working for

                                        them. Don't spend too long chatting though; you've got to give something back to

                                        the charity, after all!

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed">THE VIDEO IS KEY</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_newB">

                                        These days, everyone has a Smartphone; take a few minutes then to tell everyone

                                        about you in the most exciting way. Be creative, fun and passionate then in a video

                                        about your campaign to help fund your education. Make sure you tell everyone the

                                        following in a short creative video:

                                        <br />

                                        <br />

                                        - Who are you ?

                                        <br />

                                        <br />

                                        - Where you currently live or go to school ?

                                        <br />

                                        <br />

                                        - Where do you want to go to school and what do you want to study ?

                                        <br />

                                        <br />

                                        - What are you going to pick as a major ?

                                        <br />

                                        <br />

                                        - Why would you be great in your chosen career ?

                                        <br />

                                        <br />

                                        -Why have you chosen your particular career?

                                        <br />

                                        <br />

                                        -How you will use the money, and how you will keep everyone updated on your achievements?

                                        <br />

                                        <br />

                                        -How are going to give something back to the community that’s supported you on your

                                        journey?

                                        <br />

                                        <br />

                                        This last question is a very important one. How you will say thank you in a big

                                        way to your local community for helping you in your career path? Will you help out

                                        with a local charity? Will you give over some of your time and energy to helping

                                        a local community organization? Getting this right is so important because your

                                        supporters will want to see how you are going to be a great citizen and that you

                                        are not just looking for a hand out. They’ll want to know that you want to give

                                        back to others the way others have given to you. Be enthusiastic about being an

                                        advocate for your chosen organization because you never know, supporters of the

                                        organization may want to help you out when they see you helping their cause. What

                                        goes around comes around.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed WhiteClass">PROMOTING YOUR FUND</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        This is where the real work comes in. You will need to blast your friends and family

                                        with your profile page. Ask them to send your profile to anyone they know. You’ll

                                        have to reach out to your friends, family, church, local organizations, schools

                                        and any community outreach programs that can help spread the word. You should send

                                        out weekly reminders to keep people updated on your progress. Remember, people’s

                                        monthly donations are the key to helping you win additional rewards. You may also

                                        want to contact any charitable organizations in your area. In return for their pledge

                                        to support your cause, you might want to give up your time to help them too. You

                                        can visit local businesses and ask them to help promote your campaign. You could

                                        either ask them to sponsor you directly or to publicize your profile via their websites

                                        or social media. As another idea, you could ask local stores to put up donation

                                        jars for you. That way, you can collect the money raised each month and send it

                                        in to help you win the monthly GOPYT incentives. These are just some of the many

                                        ways you can back your campaign, why not try thinking of your own creative solutions

                                        to funding your future.

                                        <br />

                                        <br />

                                        Reaching your goal is dependent on how hard you work; you’ll have all the resources

                                        you could possibly need on our platform, it’s up to you to use them. GOPYT is here

                                        to help with suggestions and campaigning tools, please don’t hesitate to reach out

                                        to us too.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed">PROJECT UPDATES</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_newB">

                                        UPDATE, UPDATE, UPDATE! It is so important that you let your supporters know what

                                        is going on throughout your journey. Any accomplishments, milestones, GPA check-ins

                                        or community service that you’ve done, let people know! It’s crucial that your sponsors

                                        see that you are constantly striving towars your goal and proud of all your hard

                                        work. It’s a great tool as well for showing potential employers your skills and

                                        for giving a good impression of who you are.

                                        <br />

                                        <br />

                                        You can send out weekly updates to your supporters to give them an idea of where

                                        you stand and how they can help you win additional prizes as well as how close you

                                        are to your final goal.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed WhiteClass">The CONTEST</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        Our contests are run monthly. At the beginning of each month, each student starts

                                        from scratch and begins the race to earn the most donations for that month. You

                                        will want to check daily to find out where you stand. This is a chance for you to

                                        be creative in winning. How you work to become number one is totally up on you.

                                        Entering the contest is in no way gambling because your chance to win is based on

                                        performance and not luck. There is no gamble; just work hard and you will win hard.

                                        In terms of financing your future education, this is better than a part time job

                                        while in school. The competitive chase to win our monthly incentives is a great

                                        way to help you fund your education more quickly. At the end of the month everyone

                                        starts again at zero and has a chance to win the cash or prize in the new month.

                                        We keep our rankings updated in real time so that everybody knows exactly who’s

                                        on top of the pile, all the time. To enter the contest there is an entry fee based

                                        on the total amount you raised in the previous month. This goes into the bonus pool.

                                        Below is an example of how the contest could earn you additional funds.

                                       </p>

									    <img src="images/calculations.png" alt="" width="960px"/>

									   <p class="DataInnerDiv_new">



                                        It’s that easy; student 1 earned an additional $385 on top of the $3000 that they

                                        raised that month. You’ll reach your goal in no time.



                                        <br />



                                       

                                    </p>

                                     

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" title="" class="collapsed">GOPYT MOBILE APP</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_newB">

                                        The GOPYT mobile app is in the works. Soon your supporters will be able to download

                                        the app and enjoy the following great features:

                                        <br />

                                        <br />

                                        - Keep Track of your progress

                                        <br />

                                        <br />

                                        - View your profile

                                        <br />

                                        <br />

                                        - Share your profile

                                        <br />

                                        <br />

                                        - Live updates on contest rankings

                                        <br />

                                        <br />

                                        - Send you messages

                                        <br />

                                        <br />

                                        - Most important , contribute to your fund

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li><a href="JavaScript:;" class="collapsed WhiteClass">GO PAY YOUR TUITION REQUEST</a>

                        <ul>

                            <li>

                                <div>

                                    <p class="DataInnerDiv_new">

                                        This is the easy part. When you are ready to make a payment to your school (for

                                        books, classes, courses, etc.), just go online and provide the required information

                                        to the GOPYT team. We’ll send the funds directly to your school where tuition is

                                        being paid. You will receive confirmation checks and balance statements to ensure

                                        there is no fraudulent activity. Any misuse or fraud will disqualify all funds from

                                        the profile and the funds will go directly to your service organization as a donation.

                                        But don’t sweat it, you take care of the sponsors, we’ll take care of the rest.

                                    </p>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </div>

            <!--/accordion-->

        </div>

    </div>

    <!--- /InnerContent --->

