#{extends 'main.html'/}
<div class="InnerPageHeader">

        <div class="Mian">

             <h1 class="InnerpageHead">

      Projects</h1>

        </div>

    </div>

<div id="ctl00_ContentPlaceHolder1_msgBoard"></div>





    <div class="InnerContent">

	 <div class="Mian">

	 

	   

	 

	  

	  <div id="ctl00_ContentPlaceHolder1_projDiplay" class="NewsWeekDataBlock">
<div class='NewsSetBlock_Projects ProfileSetMargin'>   <div class='ProfileImage'><a href=projectDetails.aspx?pid=43> <img src='ProjImages/Thumb_Img/Dexter_54_43.jpg' height='174' width='174' /> </a>	  <div class='ProfileInfoNew'><strong><a href=projectDetails.aspx?pid=43>Go Dexter Go </a>   </a></strong><br /> <span style='font-size:11px;'>Dexter Heath</span>
</div> 
</div><div class='ProfilePercent'> <div class='Percentage'><span class='PercentageBar' style='width: 0%;'> </span>
</div>  <div class='PercentageText'>0 Raised | 1997 Day(s) Left
</div><div class='Teaser'>I have often regretted my speech, never my silence.

Xenocrates</div> </div> </div>

	  

	 

	  

	 </div>

	</div>

